<form id="uiform">
    <table class="grid">
        <tr>
            <td align="right">登录用户名：</td><td><input name="UserName" id="UserName" validType="length[2,40]" required="true" type="text" class="txt03" ></td>
            <td align="right">姓名：</td><td><input name="RealName" id="RealName" validType="length[2,40]" required="true" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">编号：</td><td><input name="Code" id="Code" validType="length[2,40]" type="text" class="txt03" ></td>
            <td align="right">用户密码：</td><td><input validType="safepass"  required="true" name="UserPassword" id="UserPassword"  type="password" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">性别：</td><td><input name="Gender" id="Gender"  required="true" type="text" class="txt03" ></td>
            <td align="right">手机号码：</td><td><input name="Mobile" id="Mobile" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">出生日期：</td><td><input name="Birthday" id="Birthday" type="text" class="txt03" ></td>
            <td align="right">固定电话：</td><td><input name="Telephone" id="Telephone" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">岗位：</td><td><input name="Duty" id="Duty" type="text" class="txt03" ></td>
            <td align="right">QQ号码：</td><td><input name="QICQ" id="QICQ" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">职称：</td><td><input name="Title" id="Title" type="text" class="txt03" ></td>
            <td align="right">邮箱地址：</td><td><input name="Email" id="Email" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">默认角色：</td><td  colspan="3"><input name="RoleId" style="width:430px;" id="RoleId" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">家庭地址：</td><td  colspan="3"><input name="HomeAddress" style="width:430px;" id="HomeAddress" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">所在公司/单位：</td><td colspan="3"><input name="CompanyId" style="width:430px;" id="CompanyId" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">所在子公司：</td><td colspan="3"><input name="SubCompanyId" style="width:430px;" id="SubCompanyId" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">所在部门：</td><td colspan="3"><input name="DepartmentId" style="width:430px;" id="DepartmentId" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">所在子部门：</td><td colspan="3"><input name="SubDepartmentId" style="width:430px;" id="SubDepartmentId" type="text" class="txt03" ></td>
        </tr>
        <tr>
             <td align="right">所在工作组：</td><td colspan="3"><input name="WorkgroupId" style="width:430px;" id="WorkgroupId" type="text" class="txt03" ></td>
        </tr>
        <tr>
            <td align="right">有效性：</td><td colspan="3"><input id="Enabled" type="checkbox" name="Enabled" /><label>有效</label>&nbsp;&nbsp;<span style="color:#666;padding-left:20px;">注：用户无效（禁用该用户）后，该用户将不能登录。</span></td>
        </tr>
        <tr>
            <td align="right">描述：</td><td colspan =3><textarea  id="Description" name="Description" rows="3" style="width:430px;height:50px;" class="txt03"/></td>
        </tr>
    </table>
</form>
