<!DOCTYPE html>

<html>
    <head>
        <title>HPWF Desktop</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="SeeSky" content="SeeSky">
        <meta name="Keywords" content="QQ:360457160">
        <meta name="Description" content="mail:360457160@qq.com">
        <link rel="stylesheet" type="text/css" href="/Content/Styles/desktop.css">
        <link rel="stylesheet" type="text/css" href="/Content/Styles/portal.css">
        <link rel="stylesheet" type="text/css" href="/Content/Styles/icon.css">

   </head>
    <body>

    </body>
        <script type="text/javascript" src="/Content/Scripts/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="/Content/Scripts/easyui/jquery.easyui.min.js"></script>
        <script type="text/javascript" src="/Content/Scripts/jquery.portal.js"></script>
        <script type="text/javascript" src="/Content/Scripts/desktop.js"></script>
        <script type="text/javascript" src="/Content/Scripts/hpwf-index.js?v=30"></script>
        <script type="text/javascript" src="/Content/Scripts/qqmsg/jQuery.qqmsg.js"></script>
        <script type="text/javascript" src="/Content/Scripts/showloading/jquery.showLoading.min.js"></script>
        <script type="text/javascript" src="/Content/Scripts/easyui/jquery.validate.min.js"></script>
        <script type="text/javascript" src="/Content/Scripts/easyui/jquery.validate.messages_zh.js"></script>
</html>

