<form id="uiform">
    <table cellpadding=5 cellspacing=0 width=100% align="center" class="grid" border=0>
        <tr>
            <td align="right">分类键值：</td>
            <td align="left"><input id="CategoryKey"  name="CategoryKey" type="text"  required="true" style="width:180px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">参数主键：</td>
            <td align="left"><input id="ParameterId"  name="ParameterId" type="text"  style="width:180px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">参数编号：</td>
            <td align="left"><input id="ParameterCode"  name="ParameterCode" type="text" required="true" style="width:180px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">参数内容：</td>
            <td align="left"><input id="ParameterContent"  name="ParameterContent" type="text" required="true" style="width:180px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">选项：</td>
            <td>
                <input type="checkbox" class="txt03" name="Enabled" id="Enabled" /><label>有效</label> 
                <input type="checkbox" class="txt03" name="AllowEdit" id="AllowEdit" /><label>允许编辑</label>
                <input type="checkbox" class="txt03" name="AllowDelete" id="AllowDelete" /><label>允许删除</label>
            </td>
        </tr>        
        <tr>
            <td align="right">备注：</td>
            <td align="left"><textarea rows="3" id="Description"  name="Description" style="width:180px;height:50px;" class="txt03"/></td>
        </tr>
   </table>
</form>