{% extends "Shared/_LayoutIndex.html" %}
{% block content %}

    <div id="toolbar">
        <div style="float: left;padding-top:2px;">
        {% autoescape off %}
        {{ ToolButton }}
        {% endautoescape %}
        </div>
    </div>

   <table id="list"></table> 
   <div id="divPrint"></div>  
   <script type="text/javascript" src="/Content/Area/FrameworkModules/Biz/ParameterAdmin.js?v=3.0"></script>
   <script type="text/javascript" src="/Content/Scripts/Business/exportutil.js"></script>

{% endblock %}