<form id="uiform">
    <table class="grid">
        <tr><td align="right">编码：</td><td><input type="text" style="width:280px;" id="Code" name="Code" class="txt03 required" /></td></tr>
        <tr><td align="right">名称：</td><td><input type="text" style="width:280px;" id="FullName" name="FullName" class="txt03 required" /></td></tr>
        <tr><td align="right">上级权限：</td><td><input type="text" style="width:280px;" id="ParentId" name="ParentId" class="txt03" /></td></tr>
        <tr><td align="right">JS事件：</td><td><input type="text" style="width:280px;" id="JsEvent" name="JsEvent" class="txt03" /></td></tr>
        <tr><td align="right">选项：</td><td>
            <input type="checkbox" class="txt03" name="Enabled" id="Enabled" /><label>有效</label>   
            <input type="checkbox" class="txt03" name="IsSplit" id="IsSplit" /><label>分割</label>                               
            <input type="checkbox" class="txt03" name="AllowEdit" id="AllowEdit" /><label>允许编辑</label>
            <input type="checkbox" class="txt03" name="AllowDelete" id="AllowDelete" /><label>允许删除</label>  
            <input type="checkbox" class="txt03" name="IsScope" id="IsScope" /><label>权限域</label>
            <input type="checkbox" class="txt03" name="IsPublic" id="IsPublic" /><label>公共</label>     
        </td></tr>
       <tr><td align="right">描述：</td><td><textarea style="width:350px;height:30px;" class="txt03" name="Description" id="Description" ></textarea></td></tr>
    </table>
</form>
