<form id="uiform">
    <table class="grid">
        <tr>
            <td align="right">编码：</td><td><input type="text" style="width:250px;" id="code" name="code" class="txt03" /></td>
            <td align="right">名称：</td><td><input type="text" style="width:250px;" id="fullname" name="fullname" class="txt03 required" /></td>
        </tr>
        <tr>
            <td align="right">简称：</td><td><input type="text" style="width:250px;" id="shortname" name="shortname" class="txt03" /></td>
            <td align="right">父节点：</td><td><input type="text" style="width:250px;" id="parentid" name="parentid" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">分类：</td><td><input type="text" style="width:250px;" id="category" name="category" class="txt03" /></td>
            <td align="right">主负责人：</td><td><input type="text" style="width:250px;" id="managerid" name="managerid" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">副主管：</td><td><input type="text" style="width:250px;" id="assistantmanagerid" name="assistantmanagerid" class="txt03" /></td>
            <td align="right">电话：</td><td><input type="text" style="width:250px;" id="outerphone" name="outerphone" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">内线：</td><td><input type="text" style="width:250px;" id="innerphone" name="innerphone" class="txt03" /></td>
            <td align="right">传真：</td><td><input type="text" style="width:250px;" id="fax" name="fax" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">邮编：</td><td><input type="text" style="width:250px;" id="postalcode" name="postalcode" class="txt03" /></td>
            <td align="right">网址：</td><td><input type="text" style="width:250px;" id="web" name="web" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">地址：</td><td colspan="3"><input type="text" style="width:610px;" id="address" name="address" class="txt03" /></td>
        <tr>
            <td align="right">选项：</td>
            <td colspan="3">
                <input type="checkbox" class="txt03" name="enabled" id="enabled" /><label>有效</label>
                <input type="checkbox" class="txt03" name="isinnerorganize" id="isinnerorganize" /><label>内部组织</label>
            </td>
        </tr>
       <tr>
            <td align="right">描述：</td><td colspan="3"><textarea style="width:610px;height:70px;" class="txt03" name="description" id="description" ></textarea></td>
       </tr>
    </table>
</form>
