<form id="uiform">
    <table class="grid">
        <tr>
            <td align="right">编码：</td><td><input type="text" style="width:250px;" id="Code" name="Code" class="txt03" /></td>
            <td align="right">名称：</td><td><input type="text" style="width:250px;" id="FullName" name="FullName" class="txt03 required" /></td>
        </tr>
        <tr>
            <td align="right">简称：</td><td><input type="text" style="width:250px;" id="ShortName" name="ShortName" class="txt03" /></td>
            <td align="right">父节点：</td><td><input type="text" style="width:250px;" id="ParentId" name="ParentId" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">分类：</td><td><input type="text" style="width:250px;" id="Category" name="Category" class="txt03" /></td>
            <td align="right">主负责人：</td><td><input type="text" style="width:250px;" id="ManagerId" name="ManagerId" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">副主管：</td><td><input type="text" style="width:250px;" id="AssistantManagerId" name="AssistantManagerId" class="txt03" /></td>
            <td align="right">电话：</td><td><input type="text" style="width:250px;" id="OuterPhone" name="OuterPhone" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">内线：</td><td><input type="text" style="width:250px;" id="InnerPhone" name="InnerPhone" class="txt03" /></td>
            <td align="right">传真：</td><td><input type="text" style="width:250px;" id="Fax" name="Fax" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">邮编：</td><td><input type="text" style="width:250px;" id="Postalcode" name="Postalcode" class="txt03" /></td>
            <td align="right">网址：</td><td><input type="text" style="width:250px;" id="Web" name="Web" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">地址：</td><td colspan="3"><input type="text" style="width:610px;" id="Address" name="Address" class="txt03" /></td>
        <tr>
            <td align="right">选项：</td>
            <td colspan="3">
                <input type="checkbox" class="txt03" name="Enabled" id="Enabled" /><label>有效</label>                                 
                <input type="checkbox" class="txt03" name="IsInnerOrganize" id="IsInnerOrganize" /><label>内部组织</label>      
            </td>
        </tr>
       <tr>
            <td align="right">描述：</td><td colspan="3"><textarea style="width:610px;height:70px;" class="txt03" name="Description" id="Description" ></textarea></td>
       </tr>
    </table>
</form>
