@{
    ViewBag.Title = "组织机构管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<div id="toolbar">
    @Html.Raw(@ViewBag.ToolButton)
</div>
<table id="organizeGrid"></table> 
<script type="text/javascript" src="~/Areas/FrameworkModules/Biz/OrganizeAdmin.js?v=29"></script>