{% extends "Shared/_LayoutIndex.html" %}
{% block content %}
<script type="text/javascript" src="/Content/Area/FrameworkModules/Biz/RoleAdmin.js"></script>
<div id="toolbar">
    <div style="float: left;padding-top:2px;">
        {% autoescape off %}
        {{ ToolButton }}
        {% endautoescape %}
        <div class='datagrid-btn-separator'></div>
        <div style="float: right; margin-top:3px;">
            角色分类：<input type="text" id="role_Category" name="role_Category" class="txt03" style="width: 160px;"/> 
        </div>
    </div>
</div>

<table id="list"></table> 
<div id="divPrint"></div>  
<script type="text/javascript" src="/Content/Scripts/Business/exportutil.js"></script>
<script type="text/javascript" src="/Content/Scripts/jqprint/jquery.jqprint-0.3.js"></script>
{% endblock %}