<form id="filterForm">
<table class="filter" width="98%" border="0" cellspacing="2">
    <tr>
        <th colspan="5" align="left"><select class="opsel">
            <option value="AND" selected="selected">And</option><option value="OR">Or</option></select>
            <input type="button" value="+ {}" title="增加分组" class="add-group"/>
            <input type="button" value="+" title="增加条件" class="add-rule"/></th>
    </tr>
</table>
</form>