<form id="uiform">
    <table cellpadding=5 cellspacing=0 width=100% align="center" class="grid" border=0>
        <tr>
            <td align="right">名称：</td>
            <td align="left"><input id="FullName"  name="FullName" type="text"  required="true" style="width:180px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">前缀：</td>
            <td align="left"><input id="Prefix"  name="Prefix" type="text"  style="width:180px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">分隔符：</td>
            <td align="left"><input id="Separate"  name="Separate" type="text"  style="width:180px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">增序列：</td>
            <td align="left">
                <input id="Sequence"  name="Sequence" type="text" class="easyui-numberbox" data-options="min:1,precision:0,max:99999999" style="text-align:right;width:180px;" >
            </td>
        </tr>
        <tr>
            <td align="right">减序列：</td>
            <td align="left">
                <input id="Reduction"  name="Reduction" type="text" class="easyui-numberbox" data-options="min:1,precision:0,max:99999999" style="text-align:right;width:180px;" >
            </td>
        </tr>
        <tr>
            <td align="right">步骤：</td>
            <td align="left">                
                <input id="Step" name="Step" class="easyui-numberspinner" style="text-align:right;width:180px;" required="required" data-options="min:1,max:10,editable:false">
            </td>
        </tr>
        <tr>
            <td align="right">备注：</td>
            <td align="left"><textarea rows="3" id="Description"  name=Description style="width:180px;height:50px;" class="txt03"/></td>
        </tr>
   </table>
</form>