<div id="rlayout" fit="true" style="height: 380px;">
    <div region="north" style="height: 50px; overflow: hidden;padding-left: 40px; line-height:20px;background: url('../Content/Images/Members.png') no-repeat left center;" border="false">
            <b>角色名称：<label id="roleName"></label></b><br/>
            <span style="color: #4B4B4B">  在左边的列表选择用户后，点击向右的箭头即可为角色添加用户或者双击选中的用户。</span>
       
    </div>
    <div id="rWest" region="west" style="width: 270px" split="false" >
        <table id="allUsers" title="待选用户列表" border="false"></table>
    </div>
    <div id="rCenter" region="center" border="false" style="padding-left: 5px;padding-top: 160px;">
        <a id="aSelectUser" style="float:left" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon16_arrow_right" title="选择用户"></a>
        <br>
        <a id="aDeleteUser" style="float:left" href="javascript:;" plain="true" class="easyui-linkbutton" icon="icon16_arrow_left" title="删除用户"></a>
    </div>
    <div id="rEast" style="width: 270px;" region="east" split="false" >
        <table id="selectedUser"  border="false" title="选中的用户"></table>
    </div>
</div>
