<div id='FormContent' class='easyui-layout' style='width:1050px;height:550px;'>
    <div data-options="region:'north',iconCls:'icon16_ok'" style="height:45px;">
        <div class="hint-info">
            <div class="hint-tip icon16_tip"></div>
            <div>温馨提示：选中复选框即可授予相应权限，取消选中则回收相应权限。</div>
        </div>
    </div>
    <div data-options="region:'center',iconCls:'icon16_ok'" title='当前角色：'>
        <table style="height:460px;">
            <tr>
                <td>
                    <div id="pnl1" class="easyui-panel" data-options="iconCls:'icon16_group_link'" title="角色（用户组）" style="width:200px;height:430px;padding:5px;">
                        <table id="tableRole"></table>
                    </div>
                </td>
                <td>
                    <div id="pnl2" class="easyui-panel" data-options="iconCls:'icon16_user'" title="拥有的用户" style="width:200px;height:430px;padding:5px;">
                        <table id="tableUser"></table>
                    </div>
                </td>
                <td>
                    <div id="pnl3" class="easyui-panel" data-options="iconCls:'icon16_tab'" title="模块（菜单）访问权限" style="width:300px;height:430px;padding:5px;">
                        <table id="tableModule"></table>
                    </div>
                </td>
                <td>
                    <div id="pnl4" class="easyui-panel" data-options="iconCls:'icon16_lightning'" title="操作权限列表" style="width:300px;height:430px;padding:5px;">
                        <table id="tablePermissionItem"></table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>