{% extends "Shared/_LayoutIndex.html" %}
{% block content %}

<div id="layout">
    <div region="west" iconCls="icon16_table" split="true" title="数据表" style="width:280px;padding: 5px" collapsible="false">
        <ul id="tbData"></ul>
    </div>
    <div region="center" title="表字段明细" iconCls="icon16_column_double" style="padding: 2px; overflow: hidden">
        <div id="toolbar">
        {% autoescape off %}
        {{ ToolButton }}
        {% endautoescape %}
        </div>
        <table id="tableFieldGird" toolbar="#toolbar"></table>

    </div>
</div>
<script type="text/javascript" src="/Content/Scripts/Linqjs/linq.min.js"></script>
<script type="text/javascript" src="/Content/Scripts/Linqjs/linq.jquery.js"></script>
<script type="text/javascript" src="/Content/Scripts/Business/exportutil.js"></script>
<script type="text/javascript" src="/Content/Area/FrameworkModules/Biz/TableFieldAdmin.js?v=30"></script>

{% endblock %}