 <form id="uiform">
     <div id="staffTab" fit="true" style="height: 330px; overflow: hidden;" >
         <div title="基本信息" style="padding: 2px; overflow: hidden;">
             <table class="grid">
                 <tr>
                    <td align="right">员工姓名：</td>
                    <td><input type="text" data-bind="value:RealName" data-options="required:true,missingMessage:'请输入员工姓名'" name="RealName" class="txt03 easyui-validatebox" id="RealName"/> </td>
                    <td align="right">工员/编号：</td>
                    <td><input type="text" data-bind="value:Code" name="Code" class="txt03 easyui-validatebox" id="Code"/> </td>
                 </tr>
                 <tr>
                    <td align="right">姓　　别：</td>
                    <td><input  type="text" name="Gender" data-bind="value:Gender" class="txt03 easyui-validatebox" id="Gender"></td>
                    <td align="right">组织机构：</td>
                    <td><input type="text" name="OrganizeId" class="txt03 easyui-validatebox" id="OrganizeId"/></td>
                 </tr>                             
                 <tr>
                    <td align="right">出生日期：</td>
                    <td><input type="text" data-bind="value:Birthday" name="Birthday" class="txt03 easyui-validatebox" id="Birthday"/></td>
                    <td align="right">年    龄：</td>
                    <td><input type="text" data-bind="value:Age" name="Age" class="txt03 easyui-validatebox" id="Age"/></td>
                 </tr>
                 <tr>
                    <td align="right">专    业：</td>
                    <td><input type="text" data-bind="value:Major" name="Major" class="txt03 easyui-validatebox" id="Major"/></td>
                    <td align="right">毕业院校：</td>
                    <td><input type="text" data-bind="value:School" name="School" class="txt03 easyui-validatebox" id="School"/></td>
                 </tr>
                 <tr>
                    <td align="right">最高学历：</td>
                    <td><input type="text" data-bind="value:Education" name="Education" class="txt03 easyui-validatebox" id="Education"/></td>
                    <td align="right">最高学位：</td>
                    <td><input type="text" data-bind="value:Degree" name="Degree" class="txt03 easyui-validatebox" id="Degree"/></td>
                 </tr>
                 <tr>
                    <td align="right">职    称：</td>
                    <td><input type="text" data-bind="value:Title" name="Title" class="txt03 easyui-validatebox" id="Title"/></td>
                    <td align="right">职称等级：</td>
                    <td><input type="text" data-bind="value:TitleLevel" name="TitleLevel" class="txt03 easyui-validatebox" id="TitleLevel"/></td>
                 </tr>
                 <tr>
                    <td  align="right">职称评期：</td>
                    <td><input type="text" data-bind="value:TitleDate" name="TitleDate" class="txt03 easyui-validatebox" id="TitleDate"/></td>
                    <td  align="right">有效：</td>
                    <td><input type="checkbox" class="txt03" name="Enabled" id="Enabled" /></td>
                 </tr>
                  <tr>
                     <td align="right">描   述：</td>
                     <td colspan="3"><textarea style="width:500px; height: 30px" data-bind="value:Description" name="Description" id="Description" class="txt03"/></td>
                 </tr>
             </table>
         </div>
         <div title="工作相关"  style="padding: 2px">
             <table class="grid">
                 <tr>
                    <td align="right">工作性质：</td>
                    <td><input type="text" data-bind="value:WorkingProperty" name="WorkingProperty" class="txt03 easyui-validatebox" id="WorkingProperty"/></td>
                    <td align="right">工作时间：</td>
                    <td><input type="text" data-bind="value:WorkingDate" name="WorkingDate" class="txt03 easyui-validatebox" id="WorkingDate"/></td>               
                 </tr>  
                 <tr>
                    <td align="right">身份证号：</td>
                    <td colspan="3"><input type="text"  style="width:500px;" data-bind="value:IdentificationCode" name="IdentificationCode" class="txt03 easyui-validatebox" id="IdentificationCode"/></td>
                 </tr>
                 <tr>
                    <td align="right">工资卡号：</td>
                    <td colspan="3"><input type="text" style="width:500px;"  data-bind="value:BankCode" name="BankCode" class="txt03 easyui-validatebox" id="BankCode"/></td>               
                 </tr>  
                 <tr>
                    <td align="right">加入单位：</td>
                    <td><input type="text" data-bind="value:JoinInDate" name="JoinInDate" class="txt03 easyui-validatebox" id="JoinInDate"/></td>
                    <td align="right">邮　　箱：</td>
                    <td><input type="text" name="Email" data-bind="value:Email" class="txt03 easyui-validatebox" data-options="validType:'email'" style="width:150px" id="Email"/></td>
                 </tr>                
                 <tr>                   
                    <td align="right">手　　机：</td>
                    <td><input type="text" data-bind="value:Mobile" name="Mobile" id="Mobile" class="txt03"/></td>
                    <td align="right">短　　号：</td>
                    <td><input type="text"  data-bind="value:ShortNumber" name="ShortNumber" id="ShortNumber" class="txt03"/></td>
                 </tr>
                 <tr>                   
                    <td align="right">QQ  号码：</td>
                    <td><input type="text" data-bind="value:QICQ" name="QICQ" id="QICQ" class="txt03"/></td>
                    <td align="right">办公邮编：</td>
                    <td><input type="text" data-bind="value:OfficeZipCode" name="OfficeZipCode" id="OfficeZipCode" class="txt03"/></td>
                 </tr>
                 <tr>
                    <td align="right">办公电话：</td>
                    <td><input type="text" data-bind="value:OfficePhone" name="OfficePhone" id="OfficePhone" class="txt03"/></td>
                    <td align="right">办公传真：</td>
                    <td><input type="text" data-bind="value:OfficeFax" name="OfficeFax" id="OfficeFax" class="txt03"/></td>
                 </tr>
                   <tr>                    
                    <td align="right">办公地址：</td>
                    <td colspan = "3"><textarea style="width:500px; height: 30px" data-bind="value:OfficeAddress" name="OfficeAddress" id="OfficeAddress" class="txt03"/></td>
                 </tr>             
             </table>
         </div>
         <div title="家庭相关"  style="padding: 2px">
            <table class="grid">
                 <tr>
                    <td align="right">籍　　贯：</td>
                    <td><input type="text" class="txt03" data-bind="value:NativePlace" name="NativePlace" id="NativePlace"/></td>
                    <td align="right">家庭邮编：</td>
                    <td><input type="text" class="txt03" data-bind="value:HomeZipCode" name="HomeZipCode" id="HomeZipCode"/></td>
                 </tr>
                 <tr>
                    <td align="right">家庭传真：</td>
                    <td><input type="text" class="txt03" data-bind="value:HomeFax" name="HomeFax" id="HomeFax"/></td>
                    <td align="right">政治面貌：</td>
                    <td><input type="text" class="txt03" data-bind="value:Party" name="Party" id="Party"/></td>
                 </tr>
                 <tr>
                    <td align="right">国　　籍：</td>
                    <td><input type="text" class="txt03" data-bind="value:Nation" name="Nation" id="Nation"/></td>
                    <td align="right">民　　族：</td>
                    <td><input type="text" class="txt03" data-bind="value:Nationality" name="Nationality" id="Nationality"/></td>
                 </tr>
                 <tr>
                    <td align="right">住宅电话：</td>
                    <td><input type="text" class="txt03" data-bind="value:HomePhone" name="HomePhone" id="HomePhone"/></td>
                    <td align="right">紧急联系：</td>
                    <td><input type="text" class="txt03" data-bind="value:Telphone" name="Telphone" id="Telphone"/></td>
                 </tr>
                 <tr>
                    <td align="right">家庭住址：</td>                    
                    <td colspan="3"><input type="text"  style="width:500px;"  class="txt03" data-bind="value:HomeAddress" name="HomeAddress" id="HomeAddress"/></td>
                 </tr>
                 <tr>
                    <td align="right">离职日期：</td>
                    <td><input type="text" class="txt03" data-bind="value:DimissionDate" name="DimissionDate" id="DimissionDate"/></td>
                    <td align="right">离职去向：</td>
                    <td><input type="text" class="txt03" data-bind="value:DimissionWhither" name="DimissionWhither" id="DimissionWhither"/></td>
                 </tr>                
                 <tr>
                    <td align="right">是否离职：</td>
                    <td colspan="3"><input type="checkbox" class="txt03" name="IsDimission" id="IsDimission" /></td>                   
                 </tr>    
                 <tr>
                    <td align="right">离职原因：</td>
                    <td colspan="3"><textarea style="width:500px; height: 30px" data-bind="value:DimissionCause" name="DimissionCause" id="DimissionCause" class="txt03"/></td>
                 </tr>
            </table>
         </div>
     </div>
     <input type="hidden" name="passSalt" id="passSalt"/>
 </form>

