@{
    ViewBag.Title = "系统异常管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

    <div id="toolbar">
         @Html.Raw(@ViewBag.ToolButton)
    </div>
    <!--用于数据显示-->    
    <table id="list"></table>    
    <div id="w"></div>
     
    <script type="text/javascript" src="~/Areas/FrameworkModules/Biz/ExceptionAdmin.js?v=30"></script>
    <script type="text/javascript" src="~/Content/Scripts/Business/exportutil.js"></script>