<form id="idCommonForm">
    <table class="grid">
        <tr><td>名称：</td><td><input data-options="required:true,validType:'length[2,100]'" type="text" style="width:300px;" class="txt03 easyui-validatebox" name="FullName" id="txt_FullName" /></td></tr>
        <tr><td>有效：</td><td><input type="checkbox" class="txt03" name="Enabled" id="chk_Enabled" /><label>有效</label></td></tr>
        <tr><td>备注：</td><td><textarea style="width:300px;height:70px;" class="txt03" name="Description" id="txt_Description" ></textarea></td></tr>
   </table>
</form>