<!DOCTYPE HTML>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>{{ Title }}</title>
    <link href="/Content/Styles/common.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Scripts/easyui/themes/{{ Skin }}/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Scripts/easyui/themes/{{ Skin }}/tree.css" rel="stylesheet" type="text/css" />
    <link href="/Content/Styles/iconNew16.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Content/Scripts/jquery-1.8.3.min.js" ></script>
    <script type="text/javascript" src="/Content/Scripts/jQuery.cookie.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jQuery.Ajax.js"></script>
    <script type="text/javascript" src="/Content/Scripts/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="/Content/Scripts/easyui/easyloader.js"></script>
    <script type="text/javascript" src="/Content/Scripts/layer/layer.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jsCommon.js?v=30" ></script>
    <script type="text/javascript" src="/Content/Scripts/hpwf-core.js?v=30" ></script>
    <script type="text/javascript" src="/Content/Scripts/json2.js"></script>
    <script type="text/javascript" src="/Content/Scripts/jQuery.TableRowUI.js"></script>
    <script type="text/javascript" src="/Content/Scripts/easyui/hpwf-easyui-extend.js?v=30" ></script>
    <script type="text/javascript" src="/Content/Scripts/csrf.js"></script>

    <script type="text/javascript" src="/Content/Scripts/layer/layer.js"></script>
    <script type="text/javascript" src="/Content/Scripts/hpwf-index.js?v=30"></script>
    <script type="text/javascript" src="/Content/Scripts/qqmsg/jQuery.qqmsg.js"></script>
    <script type="text/javascript" src="/Content/Scripts/showloading/jquery.showLoading.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/easyui/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/easyui/jquery.validate.messages_zh.js"></script>  

   
    <script type="text/javascript">
        $(document).ready(function () {
            // Loadlayout();
        });
    </script>
</head>
<body style="height:100%;width:100%;border:none; overflow:hidden;" oncontextmenu="return false" ondragstart="return false" oncopy="document.selection.empty()" onbeforecopy="return false">
    <div>
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript">
        
        if (top.location == self.location) {
   //         top.location = '/';
        }
        
        /*
        var themeCss = 'metro';
        if ($.cookie('theme')) {
            themeCss = $.cookie('theme');
        }
        easyloader.theme = themeCss; //'ui-cupertino';
        */

        $(function () {
            $('#toolbar,.toolbar').css({
                height: '28px',
                padding: '1px 2px',
                'padding-bottom': '0'
            });
        });

        var msg = {
            ok: function (message) {
                layer.msg(message, {
                    offset: 'rb', //显示在右下角
                    shift: 2,
                    icon: 1
                });
            },
            error: function (message) {
                layer.msg(message, {
                    offset: 'rb',
                    shift: 2,
                    icon: 5
                });
            },
            warning: function (message) {
                layer.msg(message, {
                    offset: 'rb',
                    shift: 2,
                    icon: 0
                });
            }
        };
    </script>
</body>

</html>
