<form id="ItemsForm">
    <table class="grid">
        <tr><td align="right">编码：</td><td><input style="width:280px;" data-options="required:true,validType:'length[1,40]'"  type="text" class="txt03 easyui-validatebox" name="Code" id="Code" /></td></tr>
        <tr><td align="right">名称：</td><td><input style="width:280px;" data-options="required:true,validType:'length[1,100]'" type="text" class="txt03 easyui-validatebox" name="FullName" id="FullName" /></td></tr>
        <tr><td align="right">分类：</td><td><input style="width:280px;" data-options="required:true" type="text" class="txt03" name="Category" id="Category" /></td></tr>
        <tr><td align="right">上级：</td><td><input style="width:280px;" type="text" class="txt03" name="ParentId" id="ParentId" /></td></tr>
        <tr><td align="right">有效：</td><td><input type="checkbox" class="txt03" name="Enabled" id="Enabled" /><label>有效</label></td></tr>
        <tr><td align="right">备注：</td><td><textarea style="width:280px;height:70px;" class="txt03" name="Description" id="Description" ></textarea></td></tr>
   </table>
</form>