<form id="ItemDetailForm">	
    <table class="grid">
        <tr>
            <td style="width: 80px; " align="right">编码：</td>
            <td><input style="width:280px;" data-options="required:true,validType:'length[1,40]',missingMessage:'请输入编码'"  type="text" class="txt03 easyui-validatebox" name="ItemCode" id="ItemCode" /></td>
        </tr>
        <tr>
            <td align="right">名称：</td>
            <td><input style="width:280px;" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入名称'" type="text" class="txt03 easyui-validatebox" name="ItemName" id="ItemName" /></td>
        </tr>
        <tr>
            <td align="right">  值：</td>
            <td><input style="width:280px;" data-options="required:true,validType:'length[1,100]',missingMessage:'请输入值'" type="text" class="txt03 easyui-validatebox" name="ItemValue" id="ItemValue" /></td>
        </tr>		
        <tr>
            <td align="right">类别：</td>
            <td><input style="width:280px;" type="text" class="txt03" name="ItemId" id="ItemId"/></td>
        </tr>
		
        <tr>
            <td align="right">上级：</td>
            <td><input style="width:280px;" type="text" class="txt03" name="ParentId" id="ParentId"/></td>
        </tr>
        <tr>
            <td align="right">选项：</td>
            <td>
                <input type="checkbox" class="txt03" name="Enabled" id="Enabled" /><label>有效</label> 
                <input type="checkbox" class="txt03" name="IsPublic" id="IsPublic" /><label>公共</label>
                <input type="checkbox" class="txt03" name="AllowEdit" id="AllowEdit" /><label>允许编辑</label>
                <input type="checkbox" class="txt03" name="AllowDelete" id="AllowDelete" /><label>允许删除</label>
            </td>
        </tr>
        <tr>
            <td align="right">备注：</td>
            <td><textarea style="width:280px;height:70px;" class="txt03" name="Description" id="Description" ></textarea></td>
        </tr>
    </table>
</form>