<form id="uiform">
    <table cellpadding=5 cellspacing=0 width=100% align="center" class="grid" border=0>
        <tr>
            <td align="right">机构：</td>
            <td align="left"><input id="Organize"  name="Organize" type="text"  style="width:320px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">编号：</td>
            <td align="left"><input id="Code"  name="Code" type="text"  required="true" style="width:320px" class="txt03"/></td>
        </tr>
        <tr>
            <td align="right">名称：</td>
            <td align="left"><input id="RealName" name="RealName" type="text"  required="true" style="width:320px" class="txt03" /></td>
        </tr>
        <tr>
            <td align="right">有效性：</td>
            <td align="left"><input id="Enabled" type="checkbox" name="Enabled" /><label>有效</label>&nbsp;&nbsp;<span style="color:#666;padding-left:20px;">注：选中则启用该岗位。</span></td>
        </tr>
        <tr>
            <td align="right">岗位描述：</td>
            <td align="left"><textarea rows="3" id="Description"  name="Description" style="width:320px;height:50px;" class="txt03"/></td>
        </tr>
   </table>
</form>